<div class="row">
  <div class="small-10 large-centered columns">
    <%= link_to 'Login with Facebook', user_omniauth_authorize_path(:facebook), class: 'button large' %>
    &nbsp;
    <%= link_to 'Login with Twitter', user_omniauth_authorize_path(:twitter), class: 'button large' %>
    &nbsp;
    <%= link_to 'Login with Github', user_omniauth_authorize_path(:github), class: 'button large' %>
  </div>
</div>