<div class="row">
  <div class="small-10 large-centered columns">
    <%= link_to 'Login with Facebook', "#", class: 'button large' %>
    &nbsp;
    <%= link_to 'Login with Twitter', "#", class: 'button large' %>
    &nbsp;
    <%= link_to 'Login with Github', "#", class: 'button large' %>
  </div>
</div>