<%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter) %>
<%= link_to "Login with Github", user_omniauth_authorize_path(:github) %>